<html>
  <head>
  <title>FarmBot</title>
  <style>
  img{
    width:32px;
    height:32px;
  }
  </style>
  <script>
    var plantSrc = "";
    var plantName = "";

    function changePlant(p){
      plantName = p;
      if(p == "carrot"){
        plantSrc = "img/carrot.png";
      }
      if(p == "cabbage"){
        plantSrc = "img/cabbage.png";
      }
    }
    function changeImg(id){
      console.log(id);
      var img = document.getElementById(id);
      img.src = plant;
    }
    
  </script>
  </head>
  <body>
    <h1>FarmBot</h1>
    <table>
      <tbody>
        <% for(var i=0;i<10;i++){ %>
          <tr>
          <% for(var j=0;j<10;j++){ %>
            <td>
            <button class="btn" onclick="changeImg(img<%=i%><%=j%>.id)" style="background-color: #a4f442;border:none;"><img class="btn-img" id="img<%=i%><%=j%>" ></button>
            </td>
          <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
    <button class="btn" onclick="changePlant('carrot')"><img class="btn-img" src="img/carrot.png"></button>
    <button class="btn" onclick="changePlant('cabbage')"><img class="btn-img" src="img/cabbage.png"></button>
  </body>
</html>